<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-a-Burger</title>
    <link rel="shortcut icon" href="../../public/assets/img/burger.png"/>
    <link rel="stylesheet" href="../../public/assets/css/style.css" type="css" />
    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/burgers.js"></script>
</head>
<body>
    {{!-- this allows the file to use handlebars templates --}}
    {{{ body }}}

</body>
</html>