* {
    margin: 0;
}

body {
    color: brown;
    background: bisque;
    text-align: center;
    font-family: 'Trebuchet MS';
    line-height: 24px;
    letter-spacing: 1.5px;
}

header {
    padding: 20px;
    background: burlywood;
    box-shadow: 5px 5px 10px 10px burlywood;
}

h1 {
    font-size: 40px;
    letter-spacing: 2.5px;
}
img {
    height: 285px;
    width: 450px;
    border-radius: 40px;
    margin: 20px;
}

ul {
    padding: 10px;
    margin: 5px;
}

button {
    border: 1px solid black;
    padding: 3px 5px;
    border-radius: 5px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.75fr 2fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    " . . . . "
    "left left right right"
    ". add-burger add-burger .";
    padding: 10px;
}

.left {
    margin-left: 20px;
    grid-area: left; 
}

.right {
    margin-right: 20px;
    grid-area: right; 
}

.add-burger {
    grid-area: add-burger;
}

.change-devoured {
    background: lightgreen;
}

.delete-button {
    background: lightcoral;
}